/** @format */
h1,
h2,
h3 {
	text-align: left;
}

h1 {
	font-size: 28px;
	position: relative;
	top: 8px;
}
h2 {
	font-size: 12px;
}
.unit {
	font-size: 20px;
	position: relative;
	top: -10px;
}
.details {
	list-style: none;
	text-align: left;
	padding: 0;
}

.pollen-details {
	list-style: none;
	text-align: center;
}
.pollen-details li {
	display: inline;
	padding: 0px 10px 0px 0px;
}

.row.forecast {
	text-align: center;
	background: none;
	margin: 20px 0px;
}

.row.general {
	margin: 20px 0px;
}

#weather-image {
	vertical-align: right;
	display: inline;
}

input,
#current {
	background: rgb(252, 252, 252, 0.5);
	border-radius: 4px;
	color: black;
	border: solid 1px #6716cc;
	font-size: 20px;
}
#current,
#submit {
	border-radius: 40px;
	border: none;
}

.description {
	font-size: 28px;
	text-transform: capitalize;
	font-style: italic;
	text-align: left;
	display: inline;
}

.weather-forcast-date {
	font-weight: bold;
}

.lowest-temperature {
	font-weight: small;
}
#weather-app {
	background: radial-gradient(
		circle at -10.9% 97.2%,
		#2575fc 22%,
		#6a11cb 100%
	);
	border: 2px solid white;
	font-family: "Quicksand", sans-serif;
	border-radius: 10px;
	margin: 10px auto;
	padding: 20px;
	max-width: 600px;
	color: #fff;
}
footer {
	margin: -18px 20px;
	max-width: 600px;
	padding: 0px 20px;
}

.col-8 {
	padding: 60px 0px;
	vertical-align: center;
}
footer {
	margin: 0 auto;
	max-width: 600px;
	padding: 0px 20px;
	display: block;
	text-align: center;
}

.col.forcast-days {
	margin: 5px;
	border-radius: 4px;
	background-color: rgb(252, 252, 252, 0.1);
}
